body {
    max-height: 100dvh;
}

.navigation {
    padding: 0;
    margin: 0;

    &__listings {
        display: flex;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
        padding-top: 1em;
        margin-bottom: 0vw;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        align-items: center;
        list-style: none;
        justify-content: space-between;

        & li a {
            text-decoration: none;
        }
    }
}

.linkies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #404040;

    &--active {
        color: #4D861F;
        text-decoration: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}